<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin: 0; font-family: arial'>
    <table style='border: 0; width: 100%'>
      <tr style='background: #1F4172'>
        <td
          style='
            padding: 20px;
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            color: #ffffff;
          '
        >
          {{appName}}
        </td>
      </tr>
      <tr>
        <td style='padding: 20px; font-size: 16px'>
          Dear
          <strong>{{userName}}</strong>,<br /><br />
          Congratulations! Your password for
          {{appName}}
          has been successfully changed. You can now log in with your new
          password.
          <br />
          <br />
          If you did not initiate this change/reset or have any concerns, please
          contact our support team immediately.
          <br />
          <br />
          Thank you for choosing
          {{appName}}!
        </td>
      </tr>
    </table>
  </body>
</html>
